<table class="table table-striped">
  <thead>
    <th>Verb</th>
    <th>Path</th>
    <th>Name</th>
    <th>Requirements</th>
  </thead>
  <tbody>
    <% routes.each do |route| %>
      <tr>
        <td><%= route[:source] %></td>
        <td><%= route[:spec] %></td>
        <td><%= route[:name] %></td>
        <td><%= route[:requirements] %></td>
      </tr>
    <% end %>
  </tbody>
</table>